footer {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  h1,
  i,
  a,p {
    color: white;
    opacity: 0.5;
    font-size: medium;
    margin-right:5px;
  }
  a {
    text-decoration: none;
  }
  .mail{
    margin-bottom:5px;
  }
  .disclaim{
    font-style: italic;
    margin-top:10px;
    text-align: center;
    margin-top:20px;
  }
}

@media screen and (max-width: 576px) {
   footer{
    h1{
        font-size: small;
        letter-spacing: 0.7rem;
    }
   }
  }
  
