h3 {
  font-size: 1.5em;
  margin: 0;
  letter-spacing: 1rem;
}

#tab-portfolio {
  background-color: #f1f1f1;
}

#tab-about {
  background-color: #fff;
  p {
    padding: 2em;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 576px) {
  h3 {
    font-size: 1em;
  }
  .demo-gallery > ul > li {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    margin-top: 2em;
  }
}
